/* Base styles */
h1 {
  font-family: "Bluu Next Bold", serif;
  color: #0c0434 !important;
  font-size: 3em; /* Adjusted in media queries for smaller screens */
}

.form__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 40em; /* Adjusted in media queries */
  height: 40em; /* Adjusted in media queries */
  background-color: #f5f5dc;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.form__details {
  padding: 1em;
  display: grid;
  gap: 20px;
  font-size: 1.5em; /* Adjusted in media queries for smaller screens */
}

.form__details > div {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
}

.form__details label {
  flex-shrink: 0;
  width: 120px;
  color: #0c0434;
  text-align: right;
  padding-right: 1em;
  font-size: 1.3em;
}

.form__details input,
.form__details select {
  border: 2px solid #0c0434;
  background-color: #f5f5dc;
  padding: 0.5em;
  width: 100%;
}

button {
  padding: 0.5em 1em;
  border: none;
  background-color: #0c0434;
  color: #f5f5dc;
  font-size: 1.2em;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover,
button:active {
  background-color: #0c0434;
  color: #fff;
}

/* Media queries */
/* For mobile devices */
@media (max-width: 767px) {
  h1 {
    font-size: 2em; /* Smaller font size for mobile */
  }

  .form__container {
    width: 90%; /* Use a percentage of the screen width */
    height: auto; /* Adjust height to content */
    padding: 1em; /* Add padding for smaller screens */
  }

  .form__details {
    font-size: 1em; /* Smaller font size for better readability on mobile */
  }

  .form__details > div {
    grid-template-columns: 1fr; /* Stack label and input vertically on small screens */
    gap: 10px; /* Reduce gap for compact layout */
  }

  .form__details label {
    text-align: left; /* Align labels to the left for a more natural flow */
    padding-right: 0; /* Remove padding-right as it's no longer needed */
  }
}

/* For tablets and small desktops */
@media (min-width: 768px) and (max-width: 1024px) {
  .form__container {
    width: 60%; /* Adjust width for medium screens */
    height: auto; /* Adjust height to content */
  }
}

/* For larger screens */
@media (min-width: 1024px) {
  .form__container {
    width: 40em; /* Fixed width for large screens */
    height: 40em; /* Fixed height for consistency */
  }
}
