/* Base styles for typography and layout */
h1 {
  font-family: "Bluu Next Bold", serif;
  color: #0c0434 !important;
  font-size: 3em;
}

/* Container for form elements with default styles */
.form__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 40em;
  height: 40em;
  background-color: #f5f5dc;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Styling details within the form, including grid layout */
.form__details {
  padding: 1em;
  display: grid;
  gap: 20px;
  font-size: 1.5em;
}

.form__details > div {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
}

/* Label styles for form elements */
.form__details label {
  flex-shrink: 0;
  width: 150px;
  color: #0c0434;
  text-align: right;
  padding-right: 1em;
  font-size: 1.3em;
}

/* Input and select element styles */
.form__details input,
.form__details select {
  border: 2px solid #0c0434;
  background-color: #f5f5dc;
  padding: 0.5em;
}

/* Button styles with hover effects */
button {
  padding: 0.5em 1em;
  border: none;
  background-color: #0c0434;
  color: #f5f5dc;
  font-size: 1.2em;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover,
button:active {
  background-color: #0c0434;
  color: #fff;
}

/* Media query adjustments for mobile devices */
@media (max-width: 767px) {
  h1 {
    font-size: 2em;
  }

  .form__container {
    width: 90%;
    height: auto;
    padding: 1em;
  }

  .form__details {
    font-size: 1em;
  }

  .form__details > div {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .form__details label {
    text-align: left;
    padding-right: 0;
  }
}

/* Adjustments for tablets and small desktop screens */
@media (min-width: 768px) and (max-width: 1024px) {
  .form__container {
    width: 60%;
    height: auto;
  }
}

/* Adjustments for larger screens */
@media (min-width: 1024px) {
  .form__container {
    width: 40em;
    height: 40em;
  }
}
