@import url("https://fonts.cdnfonts.com/css/harrypotter7");

:root {
  color: #47a365;

  margin: 0 auto;
  padding: 1rem;
}

body {
  background: #0c0434;
  background: linear-gradient(135deg, #0c0434 0%, #3c1e5e 100%);
  background-repeat: no-repeat;
  height: 100vh;
}
