:root {
  color: #47a365;

  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 1rem;
  /* Set background size to cover */
}

body {
  background: #0c0434;
  background: linear-gradient(135deg, #0c0434 0%, #3c1e5e 100%);
  background-repeat: no-repeat;
  height: 100vh;
}
