:root {
  color: #47a365;

  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  /* Set background size to cover */
}

body {
  background: rgb(12, 4, 52);
  background: linear-gradient(
    135deg,
    rgba(12, 4, 52, 1) 0%,
    rgba(60, 30, 94, 1) 100%
  );
  background-repeat: no-repeat;
}
